{% extends 'base.html.twig' %}

{% block title %}Mes Comptes
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/account/index.css') }}">
{% endblock %}

{% block main %}
	<main id="account">
		<h1 class="title">Mon compte</h1>
		<h2 class="title">Gérez votre profil et vos comptes.</h2>
		<div class="accountContent">
			<div class="leftPart">
				<div class="titlePart">
					<h1>Profil</h1>
					<h2>Vos informations personnelles</h2>
				</div>
				<div class="account-container">
					<div class="profile-section">
						<div class="avatar">
							<img src="{{ asset('images/avatar.png') }}" alt="Avatar" class="avatar-img">
						</div>
						<div class="info">
							<h2>
                            {{ user.firstName }} {{ user.lastName }}
                            </h2>
						</div>
					</div>

					<!-- Section Informations -->
					<div class="profile-section">
						<div class="info">
							<h3>Email</h3>
							<p>{{ user.email ? user.email : 'Non renseigné' }}</p>
						</div>
						<div class="info">
							<h3>Téléphone</h3>
							<p>{{ user.phone ? user.phone : 'Non renseigné' }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="rightPart">
				<div class="titlePart">
					<h1>Vos comptes</h1>
					<h2>Vos comptes bancaires</h2>
				</div>
				<div class="accounts-list">
					<ul>
						{% for account in user.bankAccounts %}
							<li class="account-item">
                                <div class="account-info-container">
                                    <span class="account-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-credit-card"><rect width="20" height="14" x="2" y="5" rx="2"/><line x1="2" x2="22" y1="10" y2="10"/></svg>
                                    </span>
                                    <div class="account-info">
                                        <span class="account-name">{{ account.name }}</span>
                                        <span class="account-number">{{ account.id }}</span>
                                    </div>
                                </div>

                                <span class="account-solde">{{ account.balance | number_format(2, ',', ' ') }} €</span>

                                <div class="account-actions">
                                    <form method="post" action="{{ path('app_account_delete', {id: account.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce compte ?');">
                                        <button type="submit" class="delete-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
                                        </button>
                                    </form>
                                </div>
							</li>
						{% else %}
							<li>Aucun compte trouvé.</li>
						{% endfor %}
					</ul>
				</div>


				<div class="add-account">
					<a href="{{ path('app_account_create') }}" class="add-account-btn">Ajouter un nouveau compte</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
