{% extends 'base.html.twig' %}

{% block title %}Mes Comptes
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/account/index.css') }}">
{% endblock %}

{% block main %}
	<main id="account">
		<div
			class="account-container">
			<!-- Section Avatar et Informations -->
			<div class="profile-section">
				<div class="avatar">
					<img src="{{ asset('images/avatar.jpg') }}" alt="Avatar" class="avatar-img">
				</div>
				<div class="info">
					<h2>{{ user.firstName }}
						{{ user.lastName }}</h2>
				</div>
			</div>

			<!-- Section Options du compte -->
			<div class="options-grid">
				<div class="option">
					<button class="option-btn">Modifier le profil</button>
				</div>
				<div class="option">
					<button class="option-btn">Historique des transactions</button>
				</div>
				<div class="option">
					<button class="option-btn">Paramètres de sécurité</button>
				</div>
				<div class="option">
					<button class="option-btn">Déconnexion</button>
				</div>
			</div>
		</div>

		<!-- Section Liste des Comptes -->

		<div class="accounts-list">
			<h3>Mes Comptes</h3>
			<ul>
				{% for account in user.bankAccounts %}
					<li class="account-item">
						<span class="account-name">{{ account.name }}</span>
						<span class="account-solde">{{ account.balance | number_format(2, ',', ' ') }}
							€</span>

						<!-- Formulaire pour supprimer le compte -->
						<form method="post" action="{{ path('app_account_delete', {id: account.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce compte ?');">
							<button type="submit" class="delete-btn">Supprimer</button>
						</form>
					</li>
				{% else %}
					<li>Aucun compte trouvé.</li>
				{% endfor %}
			</ul>
		</div>


		<!-- Bouton Ajouter un compte -->
		<div class="add-account">
			<a href="{{ path('app_account_create') }}" class="add-account-btn">Ajouter un nouveau compte</a>
		</div>
	</main>
{% endblock %}
