{# home/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home/dashboard.css') }}">
{% endblock %}

{% block main %}
<main>
    <div class="main-columns">
      <div class="main-column solde">
        <div class="montant-solde">
        <p class="chiffre">{{bankAccount.getBalance()|number_format(2, '.', ' ')}}€</p>
        <p class="txt">Solde disponible</p>
        </div>

        <div class="historique">
                <p class="txt">Historique :</p>
                <ul class="operations">
                    {% if transactions is empty %}
                        <li class="operation">
                            <div class="operation-details">
                                <strong>Aucune transaction</strong>
                            </div>
                        </li>
                    {% endif %}
                    {% for transaction in transactions %}
                        <li class="operation">
                            <div class="operation-details">
                                <strong>{{ transaction.label }}</strong> -
                                {{ transaction.amount|number_format(2, '.', ' ') }}€
                            </div>
                            <div class="operation-date">
                                {{ transaction.date|date('d/m/Y H:i') }}
                            </div>
                        </li>
                        {% if not loop.last %}
                            <hr class="operation-divider">
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="main-separator"></div>
        <div class="main-column action">
            <div class="button-grid">
                <a href="{{ path('transaction_transfer') }}" class="big-button">Effectuer un <span>virement</span></a>
                <a href="{{ path('transaction_deposit') }}" class="big-button">Effectuer un <span>dépôt</span></a>
                <a href="{{ path('transaction_withdraw') }}" class="big-button">Effectuer un <span>retrait</span></a>
                <button class="big-button">Voir mes <span>transactions</span></button>
            </div>
        </div>
    </div>
    <div class="tabs">
    <div class="tab-buttons">
        <button class="tab-button active" data-tab="comptes">Mes Comptes</button>
        <button class="tab-button" data-tab="cartes">Mes Cartes</button>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="comptes">
            <p>Contenu pour "Mes Comptes".</p>
        </div>
        <div class="tab-pane" id="cartes">
    <aside class="card-front">
        <label class="number" for="cardNumber">
        5355 1234 0000 9999
        </label>
        <label class="name" for="cardHolder">
        Numa Brocaca
        </label>
        <label class="expiry" for="expiryMonth" >
        03/27
        </label>
        <img class="cardLogo" data-v-5d206127="" data-v-8fcb32d4="" style="opacity: 1;" src="https://simey-credit-card.netlify.app/img/logos/master.svg">


        <div class="chip">
        <svg role="img" viewBox="0 0 100 100" aria-label="Chip">
            <use href="#chip-lines" />
        </svg>
        </div>
        <svg class="contactless" role="img" viewBox="0 0 24 24" aria-label="Contactless">
        <use href="#contactless">
        </svg>

    </aside>

    <svg id="chip">
    <g id="chip-lines">
        <polyline points="0,50 35,50"></polyline>
        <polyline points="0,20 20,20 35,35"></polyline>
        <polyline points="50,0 50,35"></polyline>
        <polyline points="65,35 80,20 100,20"></polyline>
        <polyline points="100,50 65,50"></polyline>
        <polyline points="35,35 65,35 65,65 35,65 35,35"></polyline>
        <polyline points="0,80 20,80 35,65"></polyline>
        <polyline points="50,100 50,65"></polyline>
        <polyline points="65,65 80,80 100,80"></polyline>
    </g>
    </svg>


    <svg id="contactless">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M9.172 15.172a4 4 0 0 1 5.656 0"></path>
    <path d="M6.343 12.343a8 8 0 0 1 11.314 0"></path>
    <path d="M3.515 9.515c4.686 -4.687 12.284 -4.687 17 0"></path>
    </svg>
            </div>
        </div>
    </div>

</main>
{% endblock %}
