{# home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/home/index.css') }}">

{% endblock %}

{% block main %}
<main id="accueil">
    <div class="content">
        <h1>Sécurisez vos futures finances avec VaultPay</h1>
        <h2>Une expérience bancaire fluide, des économies intelligentes et une gestion de l'argent sans effort, le tout en un seul endroit.</h2>

        <div class="alerts">
           {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="cta-buttons">
            {% if not app.user %}
                <a href="{{ path('app_login') }}" class="btn-login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/><polyline points="10 17 15 12 10 7"/><line x1="15" x2="3" y1="12" y2="12"/></svg>
                    Connexion
                </a>
                <a href="{{ path('app_register') }}" class="btn-signup">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><line x1="19" x2="19" y1="8" y2="14"/><line x1="22" x2="16" y1="11" y2="11"/></svg>
                    Inscription
                </a>
            {% else %}
                <a href="{{ path('app_dashboard') }}" class="btn-login">
                    Accéder au tableau de bord
                </a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
