<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}VaultPay!{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('styles/header.css') }}">
		<link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

		<link rel="icon" href="{{ asset('images/VaultpayLogo.png') }}">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			<script src="{{ asset('js/home.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include 'header.html.twig' %}
		{% endblock %}
		{% block main %}{% endblock %}
		{% block footer %}
			{% include 'footer.html.twig' %}
		{% endblock %}
	</body>
</html>
