<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}VaultPay!{% endblock %}
		</title>
<<<<<<< Updated upstream
		{% block stylesheets %}{% endblock %}
=======

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geist&display=swap" rel="stylesheet">

>>>>>>> Stashed changes
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		<link rel="stylesheet" href="{{ asset('styles/header.css') }}">
		<link rel="stylesheet" href="{{ asset('styles/footer.css') }}">

		<link rel="icon" href="{{ asset('images/VaultpayLogo.png') }}">
        <script src="{{ asset('js/header.js') }}" defer></script>
		{% block javascripts %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include 'header.html.twig' %}
		{% endblock %}
		{% block main %}{% endblock %}
		{% block footer %}
			{% include 'footer.html.twig' %}
		{% endblock %}
	</body>
</html>
