{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/common/genericForm.css') }}">
{% endblock %}

{% block main %}
	<main id="register">

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<h1 class="h3 mb-3 font-weight-normal">Register Account</h1>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phone) }}
		{{ form_row(registrationForm.firstname) }}
		{{ form_row(registrationForm.lastname) }}

		{{ form_row(registrationForm.plainPassword) }}

		<button class="btn btn-lg btn-primary" type="submit">Register</button>
		{{ form_end(registrationForm) }}
	</main>
{% endblock %}
