{% extends 'base.html.twig' %}

{% block title %}PayVault | Faire un dépot{% endblock %}
{% block stylesheets%}<link rel="stylesheet" href="{{ asset('styles/transactions/deposit.css') }}">{% endblock %}


{% block main %}
    <main id="transaction">
        <h1>Effectuer un <span>dépot</span></h1>

        {% for message in app.flashes('success') %}
            <div style="color: green; font-weight: bold;">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div style="color: red; font-weight: bold;">{{ message }}</div>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_row(form.ToAccount) }}
            {{ form_row(form.Amount) }}
            {{ form_row(form.Label) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </main>
{% endblock %}
