{% extends 'base.html.twig' %}

{% block title %}VaultPay | Virement{% endblock %}
{% block stylesheets%}<link rel="stylesheet" href="{{ asset('styles/transactions/transfer.css') }}">{% endblock %}


{% block main %}
    <main id="transaction">
        {{ form_start(form) }}
            <h1>Effectuer un <span>virement</span></h1>

            {% for message in app.flashes('success') %}
                <div style="color: green; font-weight: bold;">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div style="color: red; font-weight: bold;">{{ message }}</div>
            {% endfor %}

            {{ form_row(form.from_account_id) }}
            {{ form_row(form.to_account_id) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.label) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </main>
{% endblock %}
